* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  list-style: none; /* Removes default bullet points or numbers */
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
p {
  line-height: 1.6;
  font-size: 16px;
}
main {
  margin: auto;
  padding-top: 130px;
}
body {
  background-color: #f7f7f7;
}

/* BOX MODEL */

.main-article a {
  color: #0099ff;
}

.box-article {
  margin: 20px;
  border-radius: 10px;
  box-sizing: content-box;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.head-article {
  border-bottom: 1px solid #a5a5a5;
  padding-bottom: 20px;
  margin-bottom: 50px;
}
.head-article p {
  margin-bottom: 20px;
}
.head-article img {
  object-fit: cover;
  width: 100%;
  height: 300px;
  border-radius: 10px 10px 0 0;
}

.content-text {
  padding: 20px;
}

/* FLEX & GRID */

.flex {
  display: block;
}
.flex-article {
  align-items: center;
}

.latest-article img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.latest-article p {
  margin-bottom: 20px;
}

.navigation a {
  text-decoration: none;
  padding: 0 20px;
}

.navigation nav {
  padding: 10px 0;
}

.sidebar .box-article {
  padding: 20px;
}
.sub-title {
  margin: 20px 10px;
}

.side-title,
.main-article h2 {
  margin-bottom: 10px;
}
.fa {
  margin-right: 10px;
  font-size: 15px !important;
}
.profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.sub-profile,
.profil-desc {
  margin: 20px 0;
}

.profile .fa {
  font-size: 24px !important;
}

footer {
  background-color: white;
  margin-top: 30px;
  padding: 20px;
  box-shadow: 0 -6px 16px -4px rgb(0 0 0 / 10%);
}

footer li {
  margin: 10px 0;
}
.footer-item {
  padding: 5px 20px;
}
.copyright {
  text-align: center;
  padding: 10px;
}

/* HEADER BURGER MENU */

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */
/* header */

.header {
  padding: 20px;
  box-shadow: 0 8px 16px -4px rgb(0 0 0 / 10%);
  margin-bottom: 30px;
  background-color: #fff;

  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;

  text-decoration: none;
}
.header li {
  border-right: 1px solid #dddada;
}
.header li:last-child {
  border: none;
}

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
