* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
p {
  line-height: 1.6;
  font-size: 16px;
}
main {
  width: 1080px;
  margin: auto;
  display: grid;
  padding-top: 130px;
}

/* BOX MODEL */

.main-article a {
  color: #0099ff;
}

.side-article {
  width: 30%;
}
.box-article {
  margin: 20px 5px;
  border-radius: 10px;
  box-sizing: content-box;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.head-article {
  border-bottom: 1px solid #a5a5a5;
  padding-bottom: 20px;
  margin-bottom: 50px;
}
.head-article p {
  margin-bottom: 20px;
}
.head-article img {
  object-fit: cover;
  width: 100%;
  height: 300px;
  border-radius: 10px 10px 0 0;
}

.content-text {
  padding: 20px;
}

/* FLEX & GRID */

.flex {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.flex-article {
  align-items: center;
}
.latest-article img {
  width: 200px;
  height: 210px;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}
.latest-article p {
  margin-bottom: 20px;
}

#head {
  padding: 30px;
  border-bottom: 1px solid black;
  margin-bottom: 30px;
  position: fixed;
  width: 100%;

  background-color: white;
}

.navigation {
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.navigation a {
  text-decoration: none;
  padding: 0 20px;
}

.navigation nav {
  padding: 10px 0;
}

.main-article {
  width: 70%;
}
.sidebar {
  width: 30%;
}
.sidebar .box-article {
  padding: 20px;
}
.sub-title {
  margin: 20px 10px;
}

.side-title,
.main-article h2 {
  margin-bottom: 10px;
}
.fa {
  margin-right: 10px;
  font-size: 15px !important;
}
.profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.sub-profile,
.profil-desc {
  margin: 20px 0;
}
.profile .fa {
  font-size: 24px !important;
}
